@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets';


.warehouse-form{
    &-section{
        padding: $padding-mobile-bw-component;
    }

     &__contact-section{
        padding: $padding-mobile-bw-component;
    }

     &__btn-container{
      // border-radius:0px, 0px, 3px, 3px;
      // opacity: 0.7;
      background-color: $light-grey;
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem 1rem;
     }

     &__btn--cancel{
      @include btn($instock-black , $pure-white,$cloud);
     }

      &__btn--add{
      @include btn($pure-white , $instock-indigo,$cloud);
     }

     &__group{
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
     }

     &__label{
      margin-bottom: 4px;
      @include font-label;
      text-transform: capitalize;
      font-weight: 600;
      color: $instock-black;
     }

     &__input{
      @include field-input-styles;
     }
}

.section{
  &__heading{
    @include font-sub-header;
    font-weight: 600;
    color: $instock-black;
    padding-bottom: $padding-mobile-bw-component;
  }
}