@use "./variables" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin nav-item {
  text-decoration: none;
  list-style-type: none;
  color: $cloud;
  border-radius: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $pure-white;
  }
}
@mixin pageheader_desktop{
  font-size:32px;
  line-height: 40px;
}
@mixin subheader_desktop{
  font-size:24px;
  line-height: 32px;
}
@mixin labels_links_buttons_desktop{
  font-size: 14px;
  line-height: 22px;
}
@mixin label_link_button_desktop{
  font-size: 14px;
  line-height: 22px;
}
@mixin table_header_desktop{
  font-size: 12px;
  line-height: 18px;
}
@mixin body_large_desktop{
  font-size: 16px;
  line-height: 20px;
}
@mixin body_medium_desktop{
  font-size: 14px;
  line-height: 22px;
}
@mixin body_small_desktop{
  font-size: 12px;
  line-height: 18px;
}
@mixin pageheader_mobile{
  font-size:28px;
  line-height: 36px;
}
@mixin subheader_mobile{
  font-size:20px;
  line-height: 28px;
}
@mixin labels_links_buttons_mobile{
  font-size: 13px;
  line-height: 20px;
}
@mixin label_link_button_mobile{
  font-size: 13px;
  line-height: 20px;
}
@mixin table_header_mobile{
  font-size: 11px;
  line-height: 16px;
}
@mixin body_large_mobile{
  font-size: 15px;
  line-height: 26px;
}
@mixin body_medium_mobile{
  font-size: 13px;
  line-height: 20px;
}
@mixin body_small_mobile{
  font-size: 11px;
  line-height: 16px;
}

