@use "./variables" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin nav-item {
  text-decoration: none;
  list-style-type: none;
  color: $cloud;
  border-radius: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $pure-white;
  }
}

// Typography Mixins
@mixin font-body-sm {
  font: $font-mobile-body-sm;
  @include tablet-and-desktop {
    font: $font-tablet-body-sm;
  }
}

@mixin font-body-md {
  font: $font-mobile-body-md;
  @include tablet-and-desktop {
    font: $font-tablet-body-md;
  }
}

@mixin font-body-lg {
  font: $font-mobile-body-lg;
  @include tablet-and-desktop {
    font: $font-tablet-body-lg;
  }
}

@mixin font-page-header {
  font: $font-mobile-page-header;
  @include tablet-and-desktop {
    font: $font-tablet-page-header;
  }
}

@mixin font-sub-header {
  font: $font-mobile-subheader;
  @include tablet-and-desktop {
    font: $font-tablet-subheader;
  }
}

@mixin font-table-header {
  font: $font-mobile-table-header;
  @include tablet-and-desktop {
    font: $font-tablet-table-header;
  }
}

@mixin font-label {
  font: $font-mobile-labels;
  @include tablet-and-desktop {
    font: $font-tablet-labels;
  }
}

@mixin font-button {
  font: $font-mobile-buttons;
  @include tablet-and-desktop {
    font: $font-tablet-buttons;
  }
}

@mixin font-link{
   font: $font-mobile-link;
  @include tablet-and-desktop {
    font: $font-tablet-link;
  }

}

@mixin tag($backgroundColor) {
  text-transform: uppercase;
  border-radius: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.5rem;
  background-color: rgba($backgroundColor, 0.7);

  @include tablet-and-desktop(){
   height: 1.625rem; 
  }
}

@mixin field-input-styles {
  width: 100%;
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
  outline: none;
  border: 1px solid $cloud;
  color: $instock-black;
  background-color:  $pure-white;
  @include font-label;
  @include tablet-and-desktop{
    height: 2.375rem;
  }

  &:focus {
    border: 1px solid $instock-indigo;
  }
}
