// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   color: unset;
// }

// h1,
// h2,
// p,
// body {
//   font-family: "Titillium Regular", -apple-system, BlinkMacSystemFont,
//     "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
// }

// img,
// input,
// label,
// button {
//   display: block;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: "Titillium Regular", "Avenir Next Pro Lt", "Avenir", Arial,
    Helvetica, sans-serif;
  margin: 0;
}
