@font-face {
  font-family: "Titillium Regular";
  src: url("../../assets/Font/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Semi-Bold";
  src: url("../../assets/Font/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: bold;
}
