$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-width: 375px;

$instock-black: #13182c;
$instock-indigo: #2e66e5;
$graphite: #232940;
$green: #158463;
$red: #c94515;
$light-grey: #f7f8f9;
$cloud: #bdc5d5;
$slate: #5c667e;
$pure-white: #ffffff;
$labels_links_buttons_mobile:13px;