$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$instock-black: #13182c;
$instock-indigo: #2e66e5;
$graphite: #232940;
$green: #158463;
$red: #c94515;
$light-grey: #f7f8f9;
$cloud: #bdc5d5;
$slate: #5c667e;
$pure-white: #ffffff;

$mobile-heading-font-size: 1.75rem;
$mobile-heading-line-height: 2.25rem;
$mobile-subheading-font-size: 1.25rem;
$mobile-subheading-line-height: 1.75rem;

$tablet-heading-font-size: 2rem;
$tablet-subheading-font-size: 1.25rem;

$tablet-body-font-size: 0.875rem;

//Typography variables
$font-family: "Titillium Regular";

// Mobile font style
$font-mobile-page-header: #{1.75rem}/#{2.25rem} $font-family;
$font-mobile-subheader: #{1.25rem}/#{1.75rem} $font-family;
$font-mobile-table-header: #{0.6875rem}/#{1rem} $font-family;
$font-mobile-body-lg: #{0.9375rem}/#{1.625rem} $font-family;
$font-mobile-body-md: #{0.8125rem}/#{1.25rem} $font-family;
$font-mobile-body-sm: #{0.6875rem}/#{1rem} $font-family;
$font-mobile-link: #{0.8125rem}/#{1.25rem} $font-family;
$font-mobile-labels: #{0.8125rem}/#{1.25rem} $font-family;
$font-mobile-buttons: #{0.8125rem}/#{1.25rem} $font-family;

//Tablet & Desktop Font Style
$font-tablet-page-header: #{2rem}/#{2.5rem} $font-family;
$font-tablet-subheader: #{1.5rem}/#{2rem} $font-family;
$font-tablet-table-header: #{0.75rem}/#{1.125rem} $font-family;
$font-tablet-body-lg: #{1rem}/#{1.75rem} $font-family;
$font-tablet-body-md: #{0.875rem}/#{1.375rem} $font-family;
$font-tablet-body-sm: #{0.75rem}/#{1.125rem} $font-family;
$font-tablet-link: #{0.875rem}/#{1.375rem} $font-family;
$font-tablet-labels: #{0.875rem}/#{1.375rem} $font-family;
$font-tablet-buttons: #{0.875rem}/#{1.375rem} $font-family;

//Padding
$padding-mobile-before-headline: 1.5rem;
$padding-mobile-after-headline: 1rem;
$padding-mobile-bw-component: 1rem;
$padding-tablet-before-headline: 2.25rem;
$padding-tablet-after-headline: 1.5rem;
$padding-tablet-bw-component: 1.5rem;
