<<<<<<< HEAD
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";

.warehouse-details{
    padding: 0 pxToRem(16);
    background-color: $light-grey;
    @include tablet-and-desktop {
      padding: 0 pxToRem(32);
    }
    &__container {
        position: relative;
        top: pxToRem(-64);
        border-radius: pxToRem(3);
        box-shadow: 0 pxToRem(2) pxToRem(5) rgba($instock-black, 0.1);
        background-color: $pure-white;
        @include  tablet-and-desktop  {
          top: pxToRem(-94);
          max-width: pxToRem(1020);
          margin: 0 auto;
        }
      }
      &__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @include tablet-and-desktop {
          padding: 1rem;
        }
        @include desktop {
          padding: 1rem 1.5rem;
        }
      }
      &__name-container {
        align-items: center;
        padding: 1rem;
        display: flex;
        @include subheader_mobile;
        @include tablet-and-desktop {
          @include subheader_desktop;
        }
      }
      
  &__back-arrow {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__warehouse-edit {
    padding: 1rem;
  }

  &__details-container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $cloud;
    border-bottom: 1px solid $cloud;
    @include tablet-and-desktop {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: none;
      padding: 1rem;
    }
    @include desktop {
      padding: 1rem 1.5rem;
    }
  }
  
  &__warehouse-address {
    padding: 1rem;
    width: 100%;
    @include tablet-and-desktop {
      border-right: 1px solid $cloud;
      padding: 0;
      margin: 1rem;
      width: 50%;
    }
    @include desktop {
      width: 60%;
    }
  }
  &__contact-name {
    padding: 1rem;
    width: 50%;
    @include tablet-and-desktop {
      padding: 1rem 2rem;
      width: 35%;
    }
  }
  &__contact-info {
    padding: 1rem;
    width: 50%;
  }
  &__tablet-header-container {
    display: none;
    @include tablet-and-desktop {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      background-color: $light-grey;
    }
    @include tablet-and-desktop {
      padding: 1rem 2.5rem;
    }
  }

  &__tablet-header {
    @include body_medium_desktop;
    display: flex;
    align-items: center;

    &--inventory {
      width: 15.5%;
    }
    &--category {
      width: 14%;
    }
    &--status {
      width: 20%;
    }
    &--quantity {
      width: 20%;
    }
  }
  &__li-item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $cloud;

    &:hover {
      background: #2e66e512;
    }

    @include tablet-and-desktop {
      flex-wrap: nowrap;
      padding: 0 1rem;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      padding: 0 1.5rem;
    }
  }

  &__inventory-item {
    padding: 1rem;
    width: 50%;
    @include tablet-and-desktop {
      width: 17%;
      order: 1;
    }
  }

  &__more-details {
    display: flex;
    text-decoration: none;
    &:hover {
      cursor: pointer;
=======
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";
@import "../../styles/partials/resets";

.inventory-row {
  text-align: left;
  border-bottom: 0.0625rem solid $cloud;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 1rem;

  @include tablet-and-desktop {
    padding: 1rem 2rem;
    flex-wrap: nowrap;
    gap: 0;
  }

  &:first-child {
    border-top: 0.0625rem solid $cloud;

    @include tablet-and-desktop {
      border-top: none;
>>>>>>> develop
    }
  }

  &__category {
<<<<<<< HEAD
    padding: 0 1rem 0.5rem;
    width: 50%;
    @include tablet-and-desktop {
      padding: 1rem 0;
      width: 14%;
      order: 2;
    }
  }
  &__status {
    padding: 1rem;
    width: 50%;
    @include tablet-and-desktop {
      padding: 1rem 0;
      width: 20%;
      order: 3;
    }
  }

  &__quantity {
    padding: 0 1rem 0.5rem;
    width: 50%;
    @include tablet-and-desktop {
      width: 17.5%;
      padding: 1rem 0;
      order: 4;
    }
  }

  &__actions-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include tablet-and-desktop {
      width: 5rem;
      order: 5;
    }
  }

  &__delete {
    cursor: pointer;
    padding: 0.5rem 1rem 1rem;
    @include tablet-and-desktop {
      padding: 1rem 0.5rem;
      justify-self: flex-end;
    }
  }

  &__edit {
    padding: 0.5rem 1rem 1rem;
    @include tablet-and-desktop {
      padding: 1rem 1rem 1rem 0.5rem;
    }
  }
  &__mobile-heading {
    @include body_small_mobile;
    margin-bottom: 0.5rem;
    @include tablet-and-desktop{
=======
    display: block;
  }

  &__col {
    width: 50%;
    flex: 0 1 45%;

    @include tablet-and-desktop {
      flex: 0;
      min-width: 17%;
    }

    &--name {
      order: -2;
    }

    &--status {
      order: -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include font-label;
      width: 4.0625rem;
      margin-top: 0.1875rem;

      @include tablet-and-desktop {
        order: 0;
        min-width: 17%;
      }

      &--green {
        @include tag($red);
        width: 5rem;
        text-align: center;
      }
      &--red {
        @include tag($green);
        width: 7rem;
        text-align: center;
      }
    }

    &--actions {
      // text-align: right;
      flex: 100%;
      display: flex;
      justify-content: space-between;

      @include tablet-and-desktop {
        flex: none;
        gap: 1rem;
        justify-content: flex-start;
        max-width: 10%;
        min-width: 10%;
      }
    }
  }

  &__icon-button {
    text-align: left;
    width: 50%;

    @include tablet-and-desktop {
      width: 20%;
    }

    &--edit {
      text-align: right;
    }
  }

  &__cell-header {
    @include font-table-header;

    @include tablet-and-desktop {
>>>>>>> develop
      display: none;
    }
  }

<<<<<<< HEAD
  &__heading {
    @include table_header_mobile;
    margin-bottom: 0.5rem;
    @include tablet-and-desktop {
      @include body_small_desktop;
    }
  }

}
=======
  &__link {
    font-weight: 600;
    color: $instock-indigo;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      .inventory-row__icon {
        transform: translateX(4px);
      }
    }
  }

  &__contact-item {
    color: unset;
    text-decoration: none;
  }

  &__icon {
    vertical-align: middle;
    transition: transform 0.4s ease;
  }

  &__icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}
>>>>>>> develop
