// @use "../../Style/Partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.addinventory {
  position: absolute;
  top: 9rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: $pure-white;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  @include tablet-and-desktop {
    margin: 0 2rem;
    top: 7.5rem;
  }
  @include desktop {
    margin: 0 8rem;
  }
  &__header-wrap {
    border-bottom: 1px solid $cloud;
    display: flex;
    width: 280px;
    margin-left: 0.5rem;
    padding: 1rem 0;
    @include tablet-and-desktop {
      border-bottom: none;
    }
  }
  &__header-icon {
    margin-left: 1rem;
    height: 18px;
    margin-top: 0.4rem;
  }
  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-left: 0.5rem;
    @include tablet-and-desktop {
      font-size: 1.3rem;
    }
  }
  &__detail-form-container {
    @include tablet-and-desktop {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $cloud;
    }
  }
  &__detail {
    padding: 0 1rem;
  }
  &__detailborder {
    @include tablet-and-desktop {
      border-right: 1px solid $cloud;
    }
  }
  &__form-detail {
    position: relative;
  }

  &__form-header {
    font-size: 0.8rem;
    padding-top: 0.7rem;
  }
  &__form-name {
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  &__form-radio {
    font-size: 0.6rem;
    padding-left: 3px;
  }
  &__form-radio-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;

    @include tablet-and-desktop {
      justify-content: flex-start;
      gap: 4rem;
    }
  }
  &__form-input {
    border-radius: 1.25rem;
    border: 1px solid $cloud;
    height: 1.5rem;
    width: 16rem;
    padding: 0 0.5rem;

    @include labels_links_buttons_mobile;
    @include tablet-and-desktop {
      width: 18rem;
    }
    @include desktop {
      width: 26.8125rem;
    }
    &:focus {
      border: 1px solid $instock-indigo !important;
    }
  }
  &__form-input::placeholder {
    font-size: 0.5rem;
  }

  &__form-input-des {
    border-radius: 1.25rem;
    border: 1px solid $cloud;
    height: 6rem;
    width: 16rem;
    padding: 0 1rem;
    position: relative;
    margin-top: 0.2rem;
    &::placeholder {
      text-align: left;
      padding-top: 1rem;
    }
    @include tablet-and-desktop {
      width: 18rem;
    }
    @include desktop {
      width: 26.8125rem;
    }
  }
  &__form-name-quantity {
    @include desktop {
      display: none;
    }
  }
  &__form-category-name {
    position: relative;
    border-radius: 1rem;
    border: 1px solid $cloud;
    height: 1.5rem;
    width: 16rem;
    padding: 0 1rem;
    margin-top: 0.2rem;
    @include tablet-and-desktop {
      width: 18rem;
    }
    @include desktop {
      width: 26.8125rem;
    }
  }
  &__form-category-name::placeholder {
    font-size: 0.5rem;
  }
  &__form-categoryinput-icon {
    position: absolute;
    top: 56%;
    right: 2rem;
    pointer-events: none;
    @include tablet-and-desktop {
      top: 74%;
      right: 54%;
    }
  }
  &__form-input-icon-quality {
    position: absolute;
    top: 81%;
    right: 2rem;
    pointer-events: none;
    @include tablet-and-desktop {
      top: 42%;
    }
    @include desktop {
      top: 42%;
    }
  }
  &__error-message {
    color: $red;
    font-size: $labels_links_buttons_mobile;
    position: absolute;
    bottom: -1.2rem;
    left: 0.9rem;
    margin: 0;
  }
  &__error-message-description {
    color: $red;
    font-size: $labels_links_buttons_mobile;
    position: absolute;
    top: 17.5rem;
    left: 1.5rem;
    margin: 0;
    @include tablet-and-desktop {
      top: 17.5rem;
      left: 1.5rem;
    }
  }
  &__error-message-category {
    color: $red;
    font-size: $labels_links_buttons_mobile;
    position: absolute;
    top: 21.25rem;
    left: 1.7rem;
    margin: 0;
    @include tablet-and-desktop {
      top: 21.5rem;
      left: 1.5rem;
    }
  }
  &__error-message-quantity {
    color: $red;
    font-size: $labels_links_buttons_mobile;
    position: absolute;
    top: 30.2rem;
    left: 2rem;
    margin: 0;
  }

  .wareHouseParent {
    position: relative !important;
  }

  &__error-message-warehouse {
    color: $red;
    font-size: $labels_links_buttons_mobile;
    position: absolute;
    top: 2.8rem;
    left: 0rem;
    margin: 0;

    @include tablet-and-desktop {
      top: 12.8rem;
      left: 21.5rem;
    }
    @include desktop {
      top: 13rem;
      left: 30.5rem;
    }
  }

  &__divider {
    border-bottom: 1px solid $cloud;
    margin-top: 2rem;
    @include tablet-and-desktop {
      border-left: 1px solid $cloud;
      border-bottom: none;
      text-align: center;
    }
  }
  &__btn-wrap {
    background-color: $light-grey;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-top: 1.5rem;
    @include tablet-and-desktop {
      padding-right: 2rem;
      justify-content: flex-end;
    }
  }
  &__btn-cancel {
    background-color: $pure-white;
    border-radius: 1.25rem;
    border: 1px solid $cloud;
    text-align: center;
    height: 1.5rem;
    width: 7rem;
    font-size: 0.6rem;
    @include tablet-and-desktop {
      width: 4rem;
      height: 2rem;
    }
    &:hover {
      border: 1px solid $instock-indigo;
      color: $instock-indigo;
    }
  }
  &__btn-addItem {
    background-color: $instock-indigo;
    text-align: center;
    height: 1.5rem;
    width: 7rem;
    border-radius: 1.25rem;
    border: none;
    color: $pure-white;
    font-size: 0.6rem;
    @include tablet-and-desktop {
      width: 4rem;
      height: 2rem;
      margin-left: 1rem;
    }
    &:hover {
      background-color: $instock-black;
    }
  }
}
