// field-input-styles
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets';

.new-warehouse{
  border:1px solid red;
  background-color: $light-grey;


  &__wrapper{
    // border:1px solid red;
    margin: 0px 1rem;
    background-color: #fff;
    border-radius: 4px;
    // padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
    // padding: 0 1.5rem;

  }

  &__title-container{
    display: flex;
    align-items: center;
    // justify-content: center;
    gap:0.3rem;
    border-bottom: 1px solid red;
    padding: 1.5rem 1rem;
  }

  &__title{
    @include font-page-header;
    text-transform: capitalize;
    font-weight: 600;
    color: $instock-black;
  }


&__icon{
  height: 1.5rem;
  width: 1.5rem;
}
}




// .new-warehouse{




//   &__wrapper{
//     background-color: #fff;
//     //  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
//   }

//    &__title-container{
//     display: flex;
//   }

//   &__title{
//     @include font-page-header;
//     text-transform: capitalize;
//     font-weight: 600;
//     color:$instock-black;
//   }
// }